.xvideos{
    background-color: black;
    display: flex;
    position: relative;
}

.videos{
    color: white;
}

h1{
    color: red;
    position: relative;
    left: 15px;
}

body{
    margin: 0px;
    margin-block-start: 0px;
}
